<a href="https://colab.research.google.com/github/Maks3174/Phy/blob/main/%D0%94%D0%97_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпортуйте модуль pandas

In [1]:
import pandas as pd

# Інформація про дані
Зібрано дані продажу техніки в різних магазинах.
* OrderDate -- дата замовлення
* Region    -- регіон де розміщено магазин
* Manager   -- ім'я менеджера
* SalesMan  -- ім'я продавця
* Item      -- тип товару
* Units     -- кількість купленого товару
* Unit_price -- ціна за штуку
* Sale_amt   -- загальна вартість покупки

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/sales_data.csv", index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [5]:
print("Кількість рядків і стовпців:", df.shape)
print("\nНазви стовпців та їхні типи даних:")
print(df.dtypes)
print("\nСтовпці з пропущеними значеннями:")
print(df.isnull().any())

Кількість рядків і стовпців: (45, 8)

Назви стовпців та їхні типи даних:
OrderDate      object
Region         object
Manager        object
SalesMan       object
Item           object
Units         float64
Unit_price    float64
Sale_amt      float64
dtype: object

Стовпці з пропущеними значеннями:
OrderDate      True
Region         True
Manager        True
SalesMan       True
Item           True
Units         False
Unit_price    False
Sale_amt      False
dtype: bool

# Завдання 2

Перейменуйте стовпчики так, щоб назви містили літери нижнього регістру

In [6]:
df.columns = df.columns.str.lower()
print("Перейменовані стовпці:")
print(df.columns)

Перейменовані стовпці:
Index(['orderdate', 'region', 'manager', 'salesman', 'item', 'units',
       'unit_price', 'sale_amt'],
      dtype='object')

# Завдання 3
Виведіть дані про купівлі телевізорів та телефонів

In [7]:
print("Купівлі телевізорів:")
print(df[df['item'] == 'TV'])
print("\nКупівлі телефонів:")
print(df[df['item'] == 'Phone'])

Купівлі телевізорів:
Empty DataFrame
Columns: [orderdate, region, manager, salesman, item, units, unit_price, sale_amt]
Index: []

Купівлі телефонів:
Empty DataFrame
Columns: [orderdate, region, manager, salesman, item, units, unit_price, sale_amt]
Index: []

# Завдання 4
Яка загальна виручка у продавця Luis?

In [8]:
total_sales_luis = df[df['manager'] == 'Luis']['sale_amt'].sum()
print("Загальна виручка у продавця Luis:", total_sales_luis)

Загальна виручка у продавця Luis: 0.0

# Завдання 5

Скільки і якого товару було продано?

див groupby(),

In [9]:
items_sold = df.groupby('item')['units'].sum()
print("Кількість і види проданого товару:")
print(items_sold)

Кількість і види проданого товару:
item
Cell Phone      278.0
Desk             10.0
Home Theater    722.0
Television      716.0
Video Games     395.0
Name: units, dtype: float64

# Завдання 6
Перевірте чи правильно розраховано загальну вартість покупки. Виведіть ті рядки де є помилка. Виправте дані в таблиці

In [10]:
df['calculated_amt'] = df['unit_price'] * df['units']
rows_with_errors = df[df['calculated_amt'] != df['sale_amt']]
print("Рядки з помилками у розрахунку загальної вартості покупки:")
print(rows_with_errors)

df['sale_amt'] = df['calculated_amt']
df.drop(columns=['calculated_amt'], inplace=True)
print("Дані у таблиці оновлені з виправленими значеннями у стовпці sale_amt.")

Рядки з помилками у розрахунку загальної вартості покупки:
   orderdate region manager salesman item   units  unit_price  sale_amt  \
43       NaN    NaN     NaN      NaN  NaN  278.00    1125.000  62550.00
44       NaN    NaN     NaN      NaN  NaN   34.75     140.625   7818.75

    calculated_amt
43    312750.00000
44      4886.71875
Дані у таблиці оновлені з виправленими значеннями у стовпці sale_amt.