<a href="https://colab.research.google.com/github/Maks3174/Phy/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [10]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [22]:
shape = df.shape
print("Кількість рядків і стовпців:", shape)

dtypes = df.dtypes
print("\nНазви стовпців та їхні типи даних:\n", dtypes)

missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print("\nСтовпці з пропущеними значеннями:\n", missing_columns)

Кількість рядків і стовпців: (891, 6)

Назви стовпців та їхні типи даних:
 pclass         int64
sex           object
sibsp          int64
parch          int64
fare         float64
relatives      int64
dtype: object

Стовпці з пропущеними значеннями:
 Series([], dtype: int64)

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [14]:
queenstown_passengers = df[df['embarked'] == 'Q'].shape[0]
print("\nКількість пасажирів, які сіли у Квінстауні:", queenstown_passengers)

Кількість пасажирів, які сіли у Квінстауні: 77

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [15]:
first_class_passengers = df[df['pclass'] == 1][['sex', 'age', 'fare']]
print("\nСтать, вік та вартість поїздки для пасажирів з білетом першого класу:\n", first_class_passengers)

Стать, вік та вартість поїздки для пасажирів з білетом першого класу:
         sex   age     fare
1    female  38.0  71.2833
3    female  35.0  53.1000
6      male  54.0  51.8625
11   female  58.0  26.5500
23     male  28.0  35.5000
..      ...   ...      ...
871  female  47.0  52.5542
872    male  33.0   5.0000
879  female  56.0  83.1583
887  female  19.0  30.0000
889    male  26.0  30.0000

[216 rows x 3 columns]

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [16]:
underage_males_cherbourg = df[(df['sex'] == 'male') & (df['age'] < 18) & (df['embarked'] == 'C')]
print("\nДані про неповнолітніх чоловіків з Шербура:\n", underage_males_cherbourg)

Дані про неповнолітніх чоловіків з Шербура:
      pclass   sex    age  sibsp  parch      fare embarked
125       3  male  12.00      1      0   11.2417        C
352       3  male  15.00      1      1    7.2292        C
532       3  male  17.00      1      1    7.2292        C
550       1  male  17.00      0      2  110.8833        C
731       3  male  11.00      0      0   18.7875        C
803       3  male   0.42      0      1    8.5167        C
827       2  male   1.00      0      2   37.0042        C

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [17]:
df['relatives'] = df['sibsp'] + df['parch']
print("\nЗагальна кількість родичів на борту для кожного пасажира (перші 5 рядків):\n", df[['sibsp', 'parch', 'relatives']].head())

Загальна кількість родичів на борту для кожного пасажира (перші 5 рядків):
    sibsp  parch  relatives
0      1      0          1
1      1      0          1
2      0      0          0
3      1      0          1
4      0      0          0

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [21]:
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]

if not missing_columns.empty:
    column_with_most_missing = missing_columns.idxmax()
    df.drop(columns=[column_with_most_missing], inplace=True)
    print(f"\nВидалено стовпчик з найбільшою кількістю пропусків: {column_with_most_missing}")

df.dropna(inplace=True)

print("\nТаблиця після видалення стовпчика з найбільшою кількістю пропусків та рядків з пропусками (перші 5 рядків):\n", df.head())

Таблиця після видалення стовпчика з найбільшою кількістю пропусків та рядків з пропусками (перші 5 рядків):
    pclass     sex  sibsp  parch     fare  relatives
0       3    male      1      0   7.2500          1
1       1  female      1      0  71.2833          1
2       3  female      0      0   7.9250          0
3       1  female      1      0  53.1000          1
4       3    male      0      0   8.0500          0